.info-card {
    background: #161b22;
    border-radius: 14px;
    padding: 24px;
    color: white;
    border: 1px solid #2d333b;
}

.info-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-bottom: 24px;
}

.info-item {
    text-align: center;
}

.info-item h4 {
    margin-bottom: 8px;
    font-size: 0.95rem;
    color: #9ba3af;
    font-weight: 600;
}

.info-item h2 {
    margin: 0;
    font-size: 2rem;
    font-weight: 700;
}

.flag-status {
    font-weight: 700;
    font-size: 1.8rem;
}

.info-card hr {
    border: none;
    border-top: 1px solid #2d333b;
    margin: 20px 0;
}

.fastest-lap {
    text-align: left;
}

.fastest-lap h4 {
    margin-bottom: 8px;
    color: #9ba3af;
}

.fastest-lap h2 {
    margin: 0;
    font-size: 2rem;
}

.fastest-lap p {
    margin-top: 5px;
    color: #e10600;
    font-weight: bold;
    font-size: 1.2rem;
}