.strategy-result {
    background: #1b1f27;
    border: 1px solid #2d313d;
    border-radius: 20px;
    padding: 35px;
    margin-top: 30px;
}


.strategy-panel h2 {
    color: white;
    font-size: 2.2rem;
    font-weight: 800;
    margin-bottom: 8px;
}

.strategy-panel h3 {
    color: #c9d1d9;
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 28px;
}


.current-tyre {
    background: #1b1f27;
    border: 1px solid rgba(255, 255, 255, .05);
    border-radius: 16px;
    padding: 24px;
    margin-bottom: 28px;
}

.current-tyre h4 {
    color: #8b949e;
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 16px;
}

.current-tyre p {
    font-size: 1.4rem;
    font-weight: 600;
    color: white;
}

.strategy-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.strategy-card {
    background: #1b1f27;
    border: 1px solid #30363d;
    border-radius: 18px;
    padding: 28px;
    transition: .25s ease;
}

.strategy-card:hover {
    transform: translateY(-4px);
    border-color: #e10600;
    box-shadow: 0 10px 22px rgba(225, 6, 0, .15);
}

.strategy-card.recommended {
    border: 2px solid #ffd700;
}

.strategy-card h4 {
    color: #ffd700;
    font-size: 1.45rem;
    font-weight: 800;
    margin-bottom: 20px;
}

.strategy-card p {
    margin: 18px 0;
    color: white;
    font-size: 1.35rem;
    font-weight: 600;
    line-height: 1.7;
}

.strategy-card strong {
    font-size: 1.4rem;
    font-weight: 700;
    color: white;
}

.strategy-card hr {
    border: none;
    border-top: 1px solid #30363d;
    margin: 22px 0;
}


.tyre {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    min-width: 82px;
    height: 40px;

    padding: 0 18px;

    border-radius: 10px;

    font-weight: 800;
    font-size: 1rem;
    letter-spacing: .5px;

    margin: 10px 0;
}

.soft {
    background: #e10600;
    color: white;
}

.medium {
    background: #ffd500;
    color: black;
}

.hard {
    background: #ececec;
    color: black;
}

@media (max-width: 768px) {

    .strategy-cards {
        grid-template-columns: 1fr;
    }

    .strategy-panel h2 {
        font-size: 1.8rem;
    }

    .strategy-panel h3 {
        font-size: 1.25rem;
    }

    .strategy-card p {
        font-size: 1.15rem;
    }
}