.navbar {
    height: 70px;
    background-color: #111111;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 40px;
}

.logo {
    color: #e10600;
    font-size: 30px;
    font-weight: bold;
}

.nav-links {
    display: flex;
    gap: 30px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.nav-links a:hover {
    color: #e10600;
}